html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f1f5f9;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  gap: 1rem;
  position: relative;
}

#loader {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1rem;
  justify-content: center;
  transition: opacity 1s ease;
  place-items: center;
  background-color: #f1f5f9;
  z-index: 101;
}
#loader svg {
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  display: grid;
  gap: 2rem;
  grid-row: 2/2;
  grid-template-columns: 2fr 1fr;
}

header {
  padding-top: 1rem;
  display: grid;
  grid-column: 2/ 2;
  grid-template-columns: 1fr min-content min-content;
  width: 100%;
  gap: 2rem;
}

#menu {
  opacity: 0;
  display: none;
}
.header-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.event button,
.header-items button {
  width: 6rem;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  background: #f8fafc;
  cursor: pointer;
  letter-spacing: 0.12rem;
  transition: background-color 0.3s ease-in-out;
}

.event button:hover,
.header-items button:hover {
  background-color: #0ea5e9;
  color: white;
}

.event button {
  background-color: #f1f5f9;
}

#sidebar {
  background-color: #f8fafc;
  display: grid;
  height: 100%;
  margin: 0;
  padding-left: 1rem;
  grid-row: 1/-1;
  place-content: center;

  grid-template-rows: 1fr 2fr 1fr;
  gap: 2rem;
}

.logo {
  font-size: 3rem;
  letter-spacing: 1rem;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#sidebar a {
  text-decoration: none;
  display: grid;
  grid-template-columns: min-content 1fr;

  place-items: center;
  justify-items: start;
  color: black;
  gap: 1rem;
}

#sidebar a svg {
  width: 3rem;
  height: 3rem;
}

.sidemenu ul li {
  padding: 0;
  transition: background-color 0.3s ease-in-out;
}

.active {
  background-color: #f1f5f9;
}
.settings ul,
.sidemenu ul {
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr;
}

#global {
  display: grid;
  grid-template-rows: min-content;
  gap: 2rem;
  place-items: center;
}

.search-container {
  display: grid;
  align-content: center;
  place-items: end;
}

.search {
  width: 35%;
  position: relative;
  display: grid;

  place-items: end;
}

.search svg:hover {
  width: 2.4rem;
  height: 2.4rem;
}

.search svg {
  transition: width 0.2s ease;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 100;
}

.search input::placeholder {
  color: #b1b0b0;
}
.search input {
  width: 0%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;

  background-size: 2rem;
  background-position: 8px center;
  background-repeat: no-repeat;

  outline: none;
}

.calendar {
  display: grid;
  background-color: #f8fafc;
  grid-column: span 1 / span 1;
  grid-template-rows: min-content;
  gap: 1rem;
  border-radius: 1rem;
}

#week ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 1rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

#week li {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-self: center;
  text-align: center;
  gap: 1rem;
}

#week span {
  font-size: 1.2rem;
  font-weight: bold;
}

.today {
  background: linear-gradient(
    124deg,
    rgba(255, 255, 0, 1) 0%,
    rgba(238, 130, 238, 1) 100%
  );

  padding: 0.6rem;
  border-radius: 1.6rem;
}

.upcoming {
  padding: 0.6rem;
  color: white;
  background: linear-gradient(
    124deg,
    rgba(0, 135, 255, 1) 0%,
    rgba(0, 56, 255, 1) 100%
  );

  border-radius: 1.6rem;
}

.main-contents {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 2rem;
}

#projects {
  display: grid;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #f8fafc;
  gap: 1rem;
  grid-template-rows: min-content 1fr;
}

.text {
  font-size: 1.6rem;
  grid-column: 1 / -1;
  grid-row: 1;
  font-weight: bold;
  letter-spacing: 0.2rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

#card-container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  overflow-x: auto;
  gap: 1rem;
  width: 100%;
  position: relative;
}

.card {
  white-space: nowrap;
  grid-row: 2;
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 2rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  place-items: center;
}

.card img {
  border-radius: 2rem;
  width: 14rem;
  height: 24rem;
  object-fit: cover;
}

.info {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 2rem;
  place-items: center;
}
.info a svg {
  width: 2rem;
  height: 2rem;
  transition: fill 0.2s ease;
}

.info a:hover svg {
  fill: #d946ef;
}
.title {
  font-size: 1.2rem;
}

.btns {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  place-items: center;
}

.btns a {
  text-decoration: none;
}

#events {
  display: grid;
  gap: 2rem;
  grid-template-rows: repeat(2, 1fr);
}

.user {
  padding-right: 2rem;
  padding-left: 2rem;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  gap: 1rem;
  place-self: end;
  text-align: center;
  align-items: center;
}

.user p {
  white-space: nowrap;
  letter-spacing: 0.12rem;
  background-color: #f8fafc;
  padding: 1rem;
  text-transform: capitalize;
}
.user svg {
  width: 2rem;
  height: 2rem;
}

.user-logo {
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
  object-fit: cover;
}

.upcoming-events {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: grid;
  background-color: #f8fafc;
  gap: 1rem;
  grid-template-rows: min-content 1fr;
}

.event-card {
  display: grid;
  grid-template-rows: repeat(auto, min-content);
  gap: 1rem;
  place-items: center;
  align-items: center;
  border-radius: 1rem;
}

.event {
  width: 80%;
  display: grid;
  place-items: start;
  text-align: justify;
}
.event:last-of-type {
  border: none;
}

.event span {
  font-size: 1.1rem;
  font-weight: bold;
}

.event p {
  line-height: 1.6rem;
}
.event-title b {
  background: linear-gradient(
    124deg,
    rgba(0, 135, 255, 1) 0%,
    rgba(0, 56, 255, 1) 100%
  );
  padding: 0.4rem;
  color: white;
  border-radius: 1rem;
}

.trending {
  border-top-left-radius: 1rem;
  background-color: #f8fafc;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 1rem;
}

.trends-container {
  width: 100%;
  border-radius: 1rem;
  display: grid;
}

.trend {
  width: 80%;
  place-self: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: min-content 1fr;
  border-bottom: 1px solid #b1b0b0;
}

.trend:last-of-type {
  border: none;
}

.trend-text span {
  font-weight: bold;
  font-size: 1.2rem;
}

@media (max-width: 1023px) {
  #sidebar {
    position: absolute;
    display: none;
    width: 100%;
    opacity: 0;
    z-index: 130;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
    gap: 1rem;
    padding: 0;
    align-items: start;
    justify-items: center;
    overflow-y: hidden;
    transition: opacity 0.2s ease;
  }
  .logo {
    width: 100%;
    text-align: right;
  }
  .settings ul,
  .sidemenu ul {
    gap: 0.5rem;
  }

  #menu {
    opacity: 1;
    display: block;
  }

  body {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto;
  }

  header {
    grid-row: 1/1;
    grid-column: 1/-1;
    gap: 0.5rem;
    grid-column: 1/-1;
    padding-top: 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
  }

  .header-items {
    place-items: center;
  }
  .search-container {
    order: 2;
    width: 100%;
    place-items: center;
  }

  .search {
    width: 90%;
    place-items: center;
  }
  #search-input {
    opacity: 1;
    width: 100%;
  }
  #svgSearch {
    pointer-events: none;
  }

  .user {
    order: 1;
    padding: 0;
    place-self: center;
    grid-template-columns: repeat(5, min-content);
  }
  .header-items {
    order: 3;
  }

  .en {
    order: 3;
  }

  .user-logo {
    order: 1;
  }
  .user p {
    order: 2;
  }
  #menu {
    order: 5;
  }
  .user svg {
    order: 4;
  }

  main {
    grid-template-columns: 1fr;
  }
  .main-contents {
    gap: 1rem;
  }

  .calendar {
    gap: 0.5rem;
  }

  #cal {
    padding-top: 0.5rem;
  }
  .text {
    font-size: 1.3rem;
  }
  #week {
    padding: 0.5rem;
  }

  #week ul {
    gap: 1rem;
  }

  #week span {
    font-size: 1rem;
  }

  #projects {
    gap: 0.5rem;
  }

  #card-container {
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .card {
    gap: 1rem;
  }

  .card img {
    height: 18rem;
  }

  .info {
    gap: 1rem;
  }

  .title {
    font-size: 1rem;
  }

  .btns {
    gap: 1rem;
  }

  .btns a svg {
    width: 1.6rem;
    height: 1.6rem;
  }
}
